###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.repo
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
###< doctrine/doctrine-bundle ###

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.claude
.claude/
